@import "variables";
@import "reset";

%text-style {
  text-align: center;
  font-style: italic;
  color: $color-maroon;
}

%font {
  font-family: monospace;
  font-size: 14px;
}

html {
  @extend %font;
}

.main {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  border: 5px inset $color-goldenrod;
  @extend %text-style;

  &__headline {
    color: $color-goldenrod;
  }

  .rules {
    padding: 5px;

    &__list__item {
      list-style-position: inside;
    }
  }

  .results__total__img {
    width: 100%;
    display: none;
  }

  .results {
    display: none;
  }

  .buttons {
    display: flex;
    flex-direction: column;

    &__button {
      @extend %font;
      padding: 5px 0;
      margin: 2px;
      font-weight: bold;
      color: $color-maroon;
      background-color: $color-seashell;
      border: 2px solid $color-maroon;
    }

    &__button:not(:disabled):hover {
      background-color: $color-goldenrod;
    }

    &__button:disabled {
      background-color: $color-grey;
    }

    &__button:active {
      color: $color-seashell;
    }
  }
}
