$main-font-color: #ffffff;
$underline-color: #ff4e33;
$color-button: #e3ac00;
$grey-font: #c0c3c3;
$white-font: #ffffff;
$body-background: #21232e;
$block-background: #3b3f50;
$gradient-color-one: #dfa505;
$gradient-color-two: #953051;

$font-one: 'Source Sans Pro', sans-serif;
$font-two: 'Fresca', sans-serif;
$font-three: 'Hind', sans-serif;

$header-image: '../img/m-h-night.jpg';