$main-font-color: #2c2f3c;
$underline-color: #14a0c7;
$color-button: #699900;
$grey-font: #c0c3c3;
$white-font: #ffffff;
$body-background: #ffffff;
$block-background: #2c2f3c;
$gradient-color-one: #679704;
$gradient-color-two: #2d5bd9;

$font-one: 'Source Sans Pro', sans-serif;
$font-two: 'Hind', sans-serif;
$font-three: 'Fresca', sans-serif;

$header-image: '../img/m-h-day.jpg';